# DO API v2 settings
do_api_token: ~

# DO SSH key settings
do_ssh_name: ansible
do_ssh_pub_key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
do_ssh_private_key: "~/.ssh/id_rsa"

# DO droplet settings
do_region: ams2
do_size: 512mb
do_image: "lamp-16-04"
do_ipv6: true
do_priv_net: true

# Swap settings
swapfile_location: /swapfile
swapfile_size: 4G
swapfile_swappiness: 10
swapfile_vfs_cache_pressure: 50

# System user to create
ssh_user: "{{ lookup('env', 'USER') }}"
ssh_groups: "sudo"
ssh_pub_key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

# UFW
ufw_allow_ports:
  - 22
  - 80
  - 443

# Virtual hosts
virtual_hosts:
  prod.example.org:
    repo: Example.org
    branch: master
    aliases:
      - production.example.org
      - product.unamilodge.org
  dev.example.org:
    repo: Example.org
    branch: e
    aliases:
      - development.example.org
