# DO API v2 settings
do_api_token: ~

# DO SSH key settings
do_ssh_name: ansible
do_ssh_pub_key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
do_ssh_private_key: "~/.ssh/id_rsa"

# DO droplet settings
do_region: ams2
do_size: 512mb
do_image: "lamp-16-04"
do_ipv6: true
do_priv_net: true

# Swap settings
swapfile_location: /swapfile
swapfile_size: 4G
swapfile_swappiness: 1
swapfile_vfs_cache_pressure: 50

# System user to create
ssh_user: "{{ lookup('env', 'USER') }}"
ssh_groups: "sudo, www-data"
ssh_pub_key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

# UFW
ufw_allow_ports:
- ssh
- http
- https

# Admin Email
admin_email: communications@UnamiLodge.org

# Git info
github_owner: col-bsa
github_user: ~
github_email: ~
github_token: ~
slack_hook: ~
slack_channel: web_development
slack_user: UnamiPublisher

# Server name
do_name: example.unamilodge.org

# Virtual hosts
virtual_hosts:
  dev.unamilodge.org:
    repo: UnamiLodge.org
    branch: master
    alias: "development.unamilodge.org"
  prod.conclave2015.org:
    repo: Conclave2015.org
    branch: master
    alias: "www.conclave2015.org production.conclave2015.org"

# SSL domains
ssl_domains: "dev.unamilodge.org,development.unamilodge.org,prod.conclave2015.org"
